body {
    background-color: #FFD600;
    overflow: hidden;
}

.AuthLeftImg {
    position: absolute;
    top: 526px;
    left: -10px;
}

.AuthRightImg {
    position: absolute;
    left: 1459px;
    top: 526px;
}

.authBackground {
    background: linear-gradient(180deg,
            rgba(255, 255, 255, 0.5) 0%,
            rgba(255, 255, 255, 0) 100%,
            rgba(255, 255, 255, 1) 100%);
    border-radius: 30px;
    width: 979px;
    height: 569px;
    position: absolute;
    left: calc(50% - 489.5px);
    top: calc(50% - 284.5px);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.AuthMainInfo {
    width: 477px;
    height: 338px;
    position: absolute;
    left: 251px;
    top: 93px;
}

.AuthSecondInfo {
    width: 478px;
    height: 58px;
    position: absolute;
    top: 437px;
    left: 249px;
}

.InputEmailAuth {
    background: #ffffff;
    border-radius: 30px;
    border: none;
    position: relative;
    width: 477px;
    height: 79px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #797575;
    text-align: left;
    font: 400 24px "DM Sans", sans-serif;
    padding-left: 20px;
    margin-bottom: 25px;
}

.InputEmailAuth:hover {
    border: 3px solid black;
    transition-duration: 0.1s;
    transition-delay: 0s, 1s;
}

.InputPasswordAuth {
    background: #ffffff;
    border-radius: 30px;
    border: none;
    position: relative;
    width: 477px;
    height: 79px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #797575;
    text-align: left;
    font: 400 24px "DM Sans", sans-serif;
    padding-left: 20px;
    margin-bottom: 25px;
}

.InputPasswordAuth:hover {
    border: 3px solid black;
    transition-duration: 0.1s;
    transition-delay: 0s, 1s;
}

.recoveryPasswordButton {
    outline: none;
    background: none;
    border: none;
    color: #797575;
    width: 126px;
    height: 21px;
    position: relative;
    font: 400 14px "DM Sans", sans-serif;
}

.recoveryPasswordButton:hover {
    text-decoration: underline;
}

.continue {
    border: none;
    border-radius: 30px;
    background-color: #ffffff;
    margin-top: 50px;
    width: 261px;
    height: 52px;
    text-align: center;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
    font-family: "DmSans-Bold", sans-serif;
    font-size: 32px;
    font-weight: 700;
}

.continue:hover {
    border: 3px solid black;
    transition-duration: 0.1s;
    transition-delay: 0s, 1s;
}

.AuthLeftLine {
    background: rgba(121, 117, 117, 0.29);
    width: 167px;
    height: 4px;
    position: absolute;
    left: 0px;
    top: 10px;
}


.AuthRightLine {
    background: rgba(121, 117, 117, 0.29);
    width: 167px;
    height: 4px;
    position: absolute;
    left: 311px;
    top: 10px;
}

.AuthNewText {
    color: #797575;
    text-align: left;
    font-family: "DmSans-Regular", sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    left: 198px;
    top: -13px;
}

.AuthRegistrationBtn {
    background: #ffffff;
    border-radius: 30px;
    width: 225px;
    height: 24px;
    left: 135px;
    top: 34px;
    position: relative;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: "DmSans-Bold", sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.AuthRegistrationBtn:hover {
    border: 2px solid black;
    transition-duration: 0.1s;
    transition-delay: 0s, 1s;
}

.BackgroundRecoveryPassword {
    width: 585px;
    height: 545px;
    background-color: #FFD600;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50px;

}


.InputEmailAuthRecovery {
    background: #ffffff;
    border-radius: 30px;
    border: none;
    position: relative;
    width: 477px;
    height: 79px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #797575;
    text-align: left;
    font: 400 24px "DM Sans", sans-serif;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 10px;
}

.InputEmailAuthRecovery:hover {
    border: 2px solid black;
    transition-duration: 0.1s;
    transition-delay: 0s, 1s;
}

.BackgroundWindowRecPass {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}

.NewWindowText {
    color: #000000;
    text-align: center;
    font-family: "DmSans-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: relative;

}

.NewWindowContinue {
    border: none;
    background: #ffffff;
    border-radius: 30px;
    width: 261px;
    height: 52px;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: "DmSans-Bold", sans-serif;
    font-size: 32px;
    font-weight: 700;
    left: 27%;
    top: 200px;
}

.NewWindowContinue:hover {

    border: 2px solid black;
    transition-duration: 0.1s;
    transition-delay: 0s, 1s;
}



.close-overlay {
    width: 25px;
    height: 25px;
    position: relative;
    left: 530px;
    top: -50px;
}

.AuthIconCloseNewWindow {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: visible;
}

.GuideForRecoverPassword{
    color: #000000;
    text-align: center;
    font-family: "DmSans-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: relative;
    width: 350px;
    height: 93px;
    top: 80px;
    margin-right: auto;
    margin-left: auto;
}