.DishesBackground1{
    background: linear-gradient(
        135.77deg,
        rgba(0, 0, 0, 0.4) 0.5544714163988829%,
        rgba(0, 0, 0, 0) 100%
      );
      border-radius: 16px;
      border-width: 1px;
      border-style: solid;
      border-image: linear-gradient(
        137.56deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      border-image-slice: 1;
      width: 300px;
      height: 301px;
      position: relative;
      overflow: hidden;
      backdrop-filter: blur(21px);
}

.DishesItemImage1{
  display: block;
  position: relative;
  width: 268px;
  height: 193px;
  margin-top: 21px;
  border-radius: 16px;
  margin-left: auto;
  margin-right: auto;
}

.DishItemName1{
  color: #000000;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 16px;
  top: 222px;
}

.DishItemPrice1{
  color: #000000;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 16px;
  top: 254px;
}

.DishItemTimeBackground1{
  position: absolute;
  width: 80px;
  height: 15px;
  left: 168px;
  top: 277px;
}

.DishItemTimeText1{
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  left: 15px;
  top: 0px;
  margin-left: 5px;
}

.clockIcon1{
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}